*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

:root{
    --black-color:#030303;
    --white-color:#f2f2f2;
    --first-color:#a3d3d0;
    --second-color:#3FB8AF;
    --third-color:#0f3d3a;
    --shadow: 0px 2px 12px var(--black-color);
}


body{
    background: var(--third-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 630px;
    
}
.container h1{
    font-weight: bold;
    font-size: 43px;
    text-shadow: var(--shadow);
}
.container .title{
    color: var(--first-color);
    border-bottom: 4px solid var(--first-color);
    padding-bottom: 7px;

}

.container button i{
    font-size: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: var(--white-color);
    color: var(--third-color);
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 14px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: var(--white-color);
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 20px;
}

.display i{
    font-size: 35px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    background: var(--white-color);
}

.copy-message {
    display: none;
    margin-bottom: 5px;
    width: 40%;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 900;

    
}

/* Media Query para dispositivos com largura menor */
@media (max-width: 847px) {
    .container {
      margin: 5%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; /* Alinha verticalmente no centro */
      gap: 10px; /* Espaçamento entre os itens */
    }
  
    .container h1 {
      font-size: 36px;
    }
  
    .container .title {
      font-size: 24px;
    }
  }